* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background-image: url("../images/./bg\ .png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
main {
  flex: 1;
  display: flex;
  padding: 20px;
}
.left-section,
.right-section {
  box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  display: block;
  overflow: scroll;
  flex: 1;
  padding: 20px;
  font-style:initial;
  margin: 1%;
  border-radius: 8px;
  opacity: 0.5;
}
.left-section {
  background-image: linear-gradient(30deg, #5eaef5, #e1dbdb);
}

.right-section {
  background-image: linear-gradient(30deg,#e1dbdb, #5eaef5);
}
.show-project,
.delete-project,
.edit-project {
  color: #5eaef5;
  float: right;
  margin-right: 8px;
}
